<div class="card mb-3" id="<%= dom_id tweet %>">
  <div class="card-body">
    <h5 class="card-title"><%= tweet.user_name %></h5>
    <p class="card-text"><%= tweet.description %></p>
  </div>
</div>
